 
@{
    ViewBag.Title = "競標商品一覽";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Content/AuctionCss/cssAuctionList.css" type="text/css" />
}
<div id="fullListPage">
    <div id="banner">
        卡片競標<br />
        Auction Card
    </div>
    <div class="row" id="mainContent">
        <div class="d-none d-sm-none d-md-block col-md-3 col-lg-2" id="divSort">
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword=""><span>所有商品</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="寶可夢"><span>寶可夢 (Pokemon)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="遊戲王"><span>遊戲王 (Yu-Gi-Oh!)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="魔法風雲會"><span>魔法風雲會 (MTG)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="黑與白"><span>黑與白 (Weiß Schwarz)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="七龍珠"><span>七龍珠 (DragonBallHeroes)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="鋼彈大戰"><span>鋼彈大戰 (GUNDAM WAR)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="聖火降魔錄"><span>聖火降魔錄 (FE0)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="運動"><span>運動卡 (Sport)</span></a>
            </p>
            <p class="sortTitle">
                <a href="~/Auction/Post"><span>我要上架</span></a>
            </p>
        </div>
        <div class="d-block d-sm-block d-md-none col-sm-12 flex-row align-items-center" id="divBar">
            <div class="col-12 m-2" id="barBlock">
                <i class="fa-solid fa-bars"></i><span id="barSortName">所有商品</span>
            </div>
            <div id="expandItem">
                <div class="col-12 barSortItem">
                    <a href="" class="searchSort" data-keyword=""><span>所有商品</span></a>
                </div>
                <div class="col-12 barSortItem">
                    <a href="" class="searchSort" data-keyword="寶可夢"><span>寶可夢 (Pokemon)</span></a>
                </div>
                <div class="col-12 barSortItem">
                    <a href="" class="searchSort" data-keyword="遊戲王"><span>遊戲王 (Yu-Gi-Oh!)</span></a>
                </div>
                <div class="col-12 barSortItem">
                    <a href="" class="searchSort" data-keyword="魔法風雲會"><span>魔法風雲會 (MTG)</span></a>
                </div>
                <div class="col-12 barSortItem">
                    <a href="" class="searchSort" data-keyword="黑與白"><span>黑與白 (Weiß Schwarz)</span></a>
                </div>
                <div class="col-12 barSortItem">
                    <a href="" class="searchSort" data-keyword="七龍珠"><span>七龍珠 (DragonBallHeroes)</span></a>
                </div>
                <div class="col-12 barSortItem">
                    <a href="" class="searchSort" data-keyword="鋼彈大戰"><span>鋼彈大戰 (GUNDAM WAR)</span></a>
                </div>
                <div class="col-12 barSortItem">
                    <a href="" class="searchSort" data-keyword="聖火降魔錄"><span>聖火降魔錄 (FE0)</span></a>
                </div>
                <div class="col-12 barSortItem">
                    <a href="" class="searchSort" data-keyword="運動"><span>運動卡 (Sport)</span></a>
                </div>
                <div class="col-12 barSortItem">
                    <a href="~/Auction/Post"><span>我要上架</span></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-10 container" id="divList">
            <div class="row" id="contentRow">
                <!-- result here-->
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var contentRow = document.getElementById('contentRow');
        var divBar = document.getElementById('divBar');
        var barBlock = document.getElementById('barBlock');
        var expandItem = document.getElementById('expandItem');
        var barSortName = document.getElementById('barSortName');
        var loading = false;
        var datas;

        document.querySelectorAll('.searchSort').forEach(function (dom) {
            
            dom.addEventListener('click', function (event) {

                expandItem.classList.add('hideExpandItem');
                //expandItem.style.display = 'none';
                barSortName.textContent = this.textContent;

                if (loading) {
                    event.preventDefault();
                    return;
                }
                event.preventDefault();
                loading = true;

                
                let keyword = this.dataset.keyword;

                let xhr = new XMLHttpRequest();
                xhr.addEventListener('load', function () {
                    loading = false;
                    datas = JSON.parse(xhr.responseText);

                    ShowSearchResult(datas);
                });
                let para = '?sortName=' + keyword;
                xhr.open('GET', '@Url.Content("~/Auction/QueryBySort/")' + para);
                xhr.send();
            })
        });

        document.querySelector('.searchSort').click();      // 載入頁面後就先列所有商品

        barBlock.addEventListener('click', clickBar);


        window.addEventListener('scroll', checkBarPosition);

        function clickBar() {
            if (expandItem.style.display == 'none') {
                expandItem.style.display = '';
            }
            else {
                expandItem.style.display = 'none';
            }
        }
        function checkBarPosition() {
            let isFixed = divBar.classList.contains('fixedDivBar');

            if (window.scrollY >= 450  && !isFixed) {
                divBar.classList.add('fixedDivBar');
            }
            if(window.scrollY < 450 && isFixed)
            {
                divBar.classList.remove('fixedDivBar');
            }
        }
        function ShowSearchResult(queryResult) {

            contentRow.innerHTML = '';

            let docFrag = document.createDocumentFragment();

            for (let item of queryResult) {
                let secondRemain = Math.floor((new Date(parseInt(item.fEndTime.substr(6))) - new Date()) / 1000);
                   // Ajax 撈得 Jason 的 Date 物件是來自 MS 的格式，長這樣 /Date(123456...)/
                   // 取 substr(6) 子字串得 12345...)/ 然後 parseInt 自動去掉尾巴的 )/ ，就能實體化 JS 的 Date 物件
                let dayRemain = Math.floor(secondRemain / 86400);
                secondRemain %= 86400;
                let hourRemain = Math.floor(secondRemain / 3600);
                secondRemain %= 3600;
                let minuteRemain = Math.floor(secondRemain / 60);

                
                let domDiv = document.createElement('div');
                domDiv.className = 'col-xs-12 col-sm-6 col-md-4 col-lg-3';
                let domBorder = document.createElement('div');
                domBorder.className = 'cardBorder';
                let domA = document.createElement('a');
                domA.href = '@Url.Content("~/Auction/Item/")' + item.fItemId;
                let domImgWrap = document.createElement('div');
                domImgWrap.className = 'imgWrap';
                let domImg = document.createElement('img');
                domImg.src = '@Url.Content("~/Images/AuctionItemImages/")' + item.fPhoto;
                domImg.className = 'cardImg';
                domImgWrap.appendChild(domImg);
                let domCardBody = document.createElement('div');
                domCardBody.className = 'cardBody';
                let domPname = document.createElement('p');
                domPname.className = 'pName';
                domPname.textContent = item.fItemName;
                domCardBody.appendChild(domPname);
                let domPmoney = document.createElement('p');
                domPmoney.className = 'pMoney';
                domPmoney.textContent = `$ ${item.fMoneyNow} 元`;
                domCardBody.appendChild(domPmoney);
                let domPtime = document.createElement('p');
                domPtime.className = 'pTime';
                let domI = document.createElement('i');
                domI.className = 'fa-solid fa-clock';
                domPtime.prepend(domI);
                domPtime.textContent = `${dayRemain} 天 ${hourRemain} 時 ${minuteRemain} 分`;
                domCardBody.appendChild(domPtime);
                domA.appendChild(domImgWrap);
                domA.appendChild(domCardBody);
                domBorder.appendChild(domA);
                domDiv.appendChild(domBorder);
                docFrag.appendChild(domDiv);
                
            }
            contentRow.appendChild(docFrag);

            addHover();                 // 放上查詢出來的結果後加上滑鼠移上去的背景特效
        }

        function addHover() {
            document.querySelectorAll('.cardBorder').forEach(function (dom) {
                dom.addEventListener('mouseover', function () {
                    this.classList.add('cardSelect');
                });
                dom.addEventListener('mouseleave', function () {
                    this.classList.remove('cardSelect');
                });
            });
        };

    </script>
    }
