@model IEnumerable<CardAuction.Models.tAuctionItem>

@{
    ViewBag.Title = "競標商品一覽";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Content/AuctionCss/cssAuctionList.css" type="text/css" />
}
<div id="fullListPage">
    <div id="banner">
        卡片競標<br />
        Auction Card
    </div>
    <div class="row" id="mainContent">
        <div class="d-none d-md-block col-md-3 col-lg-2" id="divSort">
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword=""><span>所有商品</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="寶可夢"><span>寶可夢 (Pokemon)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="遊戲王"><span>遊戲王 (Yu-Gi-Oh!)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="魔法風雲會"><span>魔法風雲會 (MTG)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="黑與白"><span>黑與白 (Weiß Schwarz)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="七龍珠"><span>七龍珠 (DragonBallHeroes)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="鋼彈大戰"><span>鋼彈大戰 (GUNDAM WAR)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="聖火降魔錄"><span>聖火降魔錄 (FE0)</span></a>
            </p>
            <p class="sortTitle">
                <a href="" class="searchSort" data-keyword="運動"><span>運動卡 (Sport)</span></a>
            </p>
        </div>
        <div class="d-none col-sm-12" id="divBar">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-10 container" id="divList">
            <div class="row" id="contentRow">
                <!-- result here-->
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var contentRow = document.getElementById('contentRow');
        var datas;
        document.querySelectorAll('.cardBorder').forEach(function (dom) {
            dom.addEventListener('mouseover', function () {
                this.classList.add('cardSelect');
            });

            dom.addEventListener('mouseleave', function () {
                this.classList.remove('cardSelect');
            });

        });

        document.querySelectorAll('.searchSort').forEach(function (dom) {
            dom.addEventListener('click', function (event) {
                event.preventDefault();
                let keyword = this.dataset.keyword;

                let xhr = new XMLHttpRequest();
                xhr.addEventListener('load', function () {
                    datas = JSON.parse(xhr.response);

                    ShowSearchResult(datas);
                });
                let para = '?sortName=' + keyword;
                xhr.open('GET', '@Url.Content("~/Auction/QueryBySort/")' + para);
                xhr.send();
            })
        });

        function ShowSearchResult(queryResult) {

            // fEndTime, fItemId, fItemName, fMoneyNow, fPhoto

            contentRow.innerHTML = '';

            let docFrag = document.createDocumentFragment();

            for (let item of queryResult) {
                let secondRemain = Math.floor((new Date(parseInt(item.fEndTime.substr(6))) - new Date()) / 1000);
                let dayRemain = Math.floor(secondRemain / 86400);
                secondRemain %= 86400;
                let hourRemain = Math.floor(secondRemain / 3600);
                secondRemain %= 3600;
                let minuteRemain = Math.floor(secondRemain / 60);
                

                
                let domDiv = document.createElement('div');
                domDiv.className = 'col-xs-12 col-sm-6 col-md-4 col-lg-3';
                let domBorder = document.createElement('div');
                domBorder.className = 'cardBorder';
                let domA = document.createElement('a');
                domA.href = '@Url.Content("~/Auction/Item/")' + item.fItemId;
                let domImgWrap = document.createElement('div');
                domImgWrap.className = 'imgWrap';
                let domImg = document.createElement('img');
                domImg.src = '@Url.Content("~/Images/AuctionItemImages/")' + item.fPhoto;
                domImg.className = 'cardImg';
                domImgWrap.appendChild(domImg);
                let domCardBody = document.createElement('div');
                let domPname = document.createElement('p');
                domPname.className = 'pName';
                domPname.textContent = item.fItemName;
                domCardBody.appendChild(domPname);
                let domPmoney = document.createElement('p');
                domPmoney.className = 'pMoney';
                domPmoney.textContent = `$ ${item.fMoneyNow} 元`;
                domCardBody.appendChild(domPmoney);
                let domPtime = document.createElement('p');
                domPtime.className = 'pTime';
                let domI = document.createElement('i');
                domI.className = 'fa-solid fa-clock';
                domPtime.prepend(domI);
                domPtime.textContent = `${dayRemain} 天 ${hourRemain} 時 ${minuteRemain} 分`;
                domCardBody.appendChild(domPtime);
                domA.appendChild(domImgWrap);
                domA.appendChild(domCardBody);
                domBorder.appendChild(domA);
                domDiv.appendChild(domBorder);
                docFrag.appendChild(domDiv);
                
            }
            contentRow.appendChild(docFrag);
        }
    </script>
    }
