@using CardAuction.Models
@{
    Layout = null;
    string username = null;
    if(Session[CDictionary.SK_User] != null)
    {
        username = (Session[CDictionary.SK_User] as CMember).Account;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>上架</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/cssAuctionPost.css" />
</head>
<body>
    <div id="fullPage">
        <div class="row" id="header">
            <div class="col-12 col-md-3">
                <img src="~/images/site/iconWebsite.png" id="webIcon">
                新增商品
            </div>
            <div class="offset-8 col-4 offset-md-6 col-md-3" id="greeting">
                歡迎, @username
            </div>
        </div>
        <div id="mainBox">
            <div id="basicInfo">
                <div class="divTitle">
                    基本資訊
                </div>
                <div class="row divContent" id="divImgSelect">
                    <div class="contentHead col-12 col-md-3">
                        商品圖片
                    </div>
                    <div class="content col-12 col-md-9">
                        <div class="row">
                            <div class="col-6 col-md-3 picBlock">
                                <img src="~/images/site/imgSelectFrameEmpty.png" class="imgSelect dragNone" id="imgSelect0">
                                *商品圖片
                                <input type="file" name="fPhoto0" id="domFile0">
                            </div>
                            <div class="col-6 col-md-3 picBlock">
                                <img src="~/images/site/imgSelectFrameEmpty.png" class="imgSelect dragNone" id="imgSelect1">
                                圖片一
                                <input type="file" name="fPhoto1" id="domFile1">
                            </div>
                            <div class="col-6 col-md-3 picBlock">
                                <img src="~/images/site/imgSelectFrameEmpty.png" class="imgSelect dragNone" id="imgSelect2">
                                圖片二
                                <input type="file" name="fPhoto2" id="domFile2">
                            </div>
                            <div class="col-6 col-md-3 picBlock">
                                <img src="~/images/site/imgSelectFrameEmpty.png" class="imgSelect dragNone" id="imgSelect3">
                                圖片三
                                <input type="file" name="fPhoto3" id="domFile3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row divContent" id="divItemName">
                    <div class="contentHead col-12 col-md-3">
                        <label for="ItemName">*商品名稱</label>
                    </div>
                    <div class="content col-12 col-md-9">
                        <input type="text" name="fItemName" id="ItemName" maxlength="60" />
                    </div>
                </div>
                <div class="row divContent" id="divItemDescription">
                    <div class="contentHead col-12 col-md-3">
                        <label for="ItemDescription">*商品描述</label>
                    </div>
                    <div class="content col-12 col-md-9">
                        <textarea name="fItemDescription" id="ItemDescription" maxlength="3000"></textarea>
                    </div>
                </div>
                <div class="row divContent" id="divSort">
                    <div class="contentHead col-12 col-md-3">
                        <label for="Sort">*類別</label>
                    </div>
                    <div class="content col-12 col-md-9">
                        <input type="text" name="fSort" id="Sort" />
                    </div>
                </div>
            </div>
            <div id="sellDetail">
                <div class="divTitle">
                    銷售資訊
                </div>
                <div class="row divContent" id="divMoneyStart">
                    <div class="contentHead col-12 col-md-3">
                        <label for="MoneyStart">*起標價格</label>
                    </div>
                    <div class="content col-12 col-md-9">
                        <input type="number" name="fMoneyStart" id="MoneyStart" />
                    </div>
                </div>
                <div class="row divContent" id="divMoneyStep">
                    <div class="contentHead col-12 col-md-3">
                        <label for="MoneyStep">*出價增額</label>
                    </div>
                    <div class="content col-12 col-md-9">
                        <input type="number" name="fMoneyStep" id="MoneyStep" />
                    </div>
                </div>
                <div class="row divContent" id="divMoneyEnd">
                    <div class="contentHead col-12 col-md-3">
                        <label for="MoneyStep">*結標價格</label>
                    </div>
                    <div class="content col-12 col-md-9">
                        <input type="number" name="fMoney" id="MoneyStep" />
                    </div>
                </div>
                <div class="row divContent" id="divEndTime">
                    <div class="contentHead col-12 col-md-3">
                        <label for="EndTIme">*競標時間</label>
                    </div>
                    <div class="content col-12 col-md-9">
                        <div id="dateTimeContainer">
                            <div id="endTimeDate">
                                <input type="date" name="fEndTimeDate" id="EndTimeDate" />
                            </div>
                            <div id="endTimeTime">
                                <input type="time" name="fEndTimeTime" id="EndTimeTime" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="transFee">
                <div class="divTitle">
                    運費
                </div>
                <div class="row divContent">
                    <div class="contentHead col-12 col-md-3">
                        *買家支付運費
                    </div>
                    <div class="content col-12 col-md-9" id="divTrans">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="fomr-check-label" for="chkPerson">面交</label>
                            </div>
                            <div class="col-4 offset-md-1 col-md-4">
                                <input type="number" name="fTransPerson" id="txtPerson" />
                            </div>
                            <div class="form-check form-switch col-4 col-md-3">
                                <input type="checkbox" class="form-check-input" id="chkPerson" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="fomr-check-label" for="chkSeven">7-11</label>
                            </div>
                            <div class="col-4 offset-md-1 col-md-4">
                                <input type="number" name="fTransSeven" id="txtSeven" />
                            </div>
                            <div class="form-check form-switch col-4 col-md-3">
                                <input type="checkbox" class="form-check-input" id="chkSeven" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="fomr-check-label" for="chkFami">全家</label>
                            </div>
                            <div class="col-4 offset-md-1 col-md-4">
                                <input type="number" name="fTransFami" id="txtFami" />
                            </div>
                            <div class="form-check form-switch col-4 col-md-3">
                                <input type="checkbox" class="form-check-input" id="chkFami" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="fomr-check-label" for="chkLogi">物流</label>
                            </div>
                            <div class="col-4 offset-md-1 col-md-4">
                                <input type="number" name="fTransLogi" id="txtLogi" />
                            </div>
                            <div class="form-check form-switch col-4 col-md-3">
                                <input type="checkbox" class="form-check-input" id="chkLogi" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="buttons">
                <button id="btnCancel">取消</button>
                <button id="btnPost">上架</button>
            </div>
        </div>
    </div>
    <script>
        var domImg0 = document.getElementById('imgSelect0');
        var domFile0 = document.getElementById('domFile0');

        domImg0.addEventListener('dragover', function (event) {
            event.preventDefault();
            domImg0.closest('div').classList.remove('dragNone');
            domImg0.closest('div').classList.add('dragOver');
        });
        domImg0.addEventListener('dragleave', function (event) {
            domImg0.closest('div').classList.remove('dragOver');
            domImg0.closest('div').classList.add('dragNone');
        })
        domImg0.addEventListener('drop', function (event) {
            event.preventDefault();
            domFile0.files = event.dataTransfer.files;
            let file = domFile0.files[0];
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.addEventListener('load', function () {
                domImg0.src = reader.result;
            })
        })
        var domImg1 = document.getElementById('imgSelect1');
        var domFile1 = document.getElementById('domFile1');

        domImg1.addEventListener('dragover', function (event) {
            event.preventDefault();
            domImg1.classList.remove('dragNone');
            domImg1.classList.add('dragOver');
        });
        domImg1.addEventListener('dragleave', function (event) {
            domImg1.classList.remove('dragOver');
            domImg1.classList.add('dragNone');
        })
        domImg1.addEventListener('drop', function (event) {
            event.preventDefault();
            domFile1.files = event.dataTransfer.files;
            let file = domFile1.files[0];
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.addEventListener('load', function () {
                domImg1.src = reader.result;
            })
        })
        var domImg2 = document.getElementById('imgSelect2');
        var domFile2 = document.getElementById('domFile2');

        domImg2.addEventListener('dragover', function (event) {
            event.preventDefault();
            domImg2.classList.remove('dragNone');
            domImg2.classList.add('dragOver');
        });
        domImg2.addEventListener('dragleave', function (event) {
            domImg2.classList.remove('dragOver');
            domImg2.classList.add('dragNone');
        })
        domImg2.addEventListener('drop', function (event) {
            event.preventDefault();
            domFile2.files = event.dataTransfer.files;
            console.log(event);
            let file = domFile2.files[0];
            let reader = new FileReader();
            console.log(file);
            reader.readAsDataURL(file);
            reader.addEventListener('load', function () {
                domImg2.src = reader.result;
            })
        })

    </script>
</body>
</html>
