
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>上架</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/cssAuctionPost.css" />
</head>
<body>
    <div id="fullPage">
        <div class="row" id="header">
            <div class="col-12 col-md-3">
                <img src="~/images/site/iconWebsite.png" id="webIcon">
                新增商品
            </div>
            <div class="offset-8 col-4 offset-md-6 col-md-3" id="greeting">
                歡迎, Admin
            </div>
        </div>
        <div id="mainBox">
            <div id="basicInfo">
                基本資訊
                商品圖片
            </div>
            <div id="sellDetail">

            </div>
            <div id="transFee">

            </div>
            <div id="buttons">

            </div>
        </div>
    </div>
</body>
</html>
