@using CardAuction.Models
@{
    Layout = null;
    string username = null;
    if(Session[CDictionary.SK_User] != null)
    {
        username = (Session[CDictionary.SK_User] as CMember).Account;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>上架</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/cssAuctionPost.css" />
</head>
<body>
    <form action="#" method="post" enctype="multipart/form-data">
        <div id="fullPage">
            <div class="row" id="header">
                <div class="col-12 col-md-3">
                    <img src="~/images/site/iconWebsite.png" id="webIcon">
                    新增商品
                </div>
                <div class="offset-8 col-4 offset-md-6 col-md-3" id="greeting">
                    歡迎, @username
                </div>
            </div>
            <div id="mainBox">
                <div id="basicInfo">
                    <div class="divTitle">
                        基本資訊
                    </div>
                    <div class="row divContent" id="divImgSelect">
                        <div class="contentHead col-12 col-md-3">
                            商品圖片
                        </div>
                        <div class="content col-12 col-md-9">
                            <div class="picBlockList">
                                <div>
                                    <div class="picBlock dragNone" id="picBlock0">
                                    </div>
                                    *商品圖片
                                    <input type="file" name="Photo0" id="inputFile0">
                                </div>
                                <div>
                                    <div class="picBlock dragNone" id="picBlock1">
                                    </div>
                                    <input type="file" name="Photo1" id="inputFile1">
                                    圖片二
                                </div>
                                <div>
                                    <div class="picBlock dragNone" id="picBlock2">
                                    </div>
                                    圖片三
                                    <input type="file" name="Photo2" id="inputFile2">
                                </div>
                                <div>
                                    <div class="picBlock dragNone" id="picBlock3">
                                    </div>
                                    圖片四
                                    <input type="file" name="Photo3" id="inputFile3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row divContent" id="divItemName">
                        <div class="contentHead col-12 col-md-3">
                            <label for="ItemName">*商品名稱</label>
                        </div>
                        <div class="content col-12 col-md-9">
                            <input type="text" name="fItemName" id="ItemName" maxlength="60" />
                            <p id="countItemName">
                                0/60
                            </p>
                        </div>
                    </div>
                    <div class="row divContent" id="divItemDescription">
                        <div class="contentHead col-12 col-md-3">
                            <label for="ItemDescription">*商品描述</label>
                        </div>
                        <div class="content col-12 col-md-9">
                            <textarea name="fItemDescription" id="ItemDescription" maxlength="800"></textarea>
                            <p id="countDescription">
                                0/800
                            </p>
                        </div>
                    </div>
                    <div class="row divContent" id="divSort">
                        <div class="contentHead col-12 col-md-3">
                            <label for="Sort">*類別</label>
                        </div>
                        <div class="content col-12 col-md-9">
                            <select name="fSort" id="seleSort">
                                <option value="寶可夢">寶可夢</option>
                                <option value="遊戲王">遊戲王</option>
                                <option value="魔法風雲會">魔法風雲會</option>
                                <option value="NBA">NBA</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="sellDetail">
                    <div class="divTitle">
                        銷售資訊
                    </div>
                    <div class="row divContent" id="divMoneyStart">
                        <div class="contentHead col-12 col-md-3">
                            <label for="MoneyStart">*起標價格</label>
                        </div>
                        <div class="content col-12 col-md-9">
                            <input type="number" name="fMoneyStart" id="MoneyStart" min="1" />
                        </div>
                    </div>

                    <div class="row divContent">
                        <div class="contentHead col-12 col-md-3">
                            <label class="fomr-check-label" for="BuyPrice">是否直購價</label>
                        </div>
                        <div class="form-check form-switch offset-1 offset-md-1 col-3 col-md-2">
                            <input type="checkbox" class="form-check-input" id="BuyPrice" />
                        </div>
                        <div class="col-8 col-md-6">
                            <input type="number" name="fBuyPrice" id="txtBuy" min="1" disabled placeholder="1" />
                        </div>
                    </div>


                    <div class="row divContent" id="divMoneyStep">
                        <div class="contentHead col-12 col-md-3">
                            <label for="MoneyStep">*出價增額</label>
                        </div>
                        <div class="content col-12 col-md-9">
                            <input type="number" name="fMoneyStep" id="MoneyStep" min="1" />
                        </div>
                    </div>
                    <div class="row divContent" id="divMoneyEnd">
                        <div class="contentHead col-12 col-md-3">
                            <label for="MoneyStep">*結標價格</label>
                        </div>
                        <div class="content col-12 col-md-9">
                            <input type="number" name="fMoney" id="MoneyStep" min="1" />
                        </div>
                    </div>
                    <div class="row divContent" id="divEndTime">
                        <div class="contentHead col-12 col-md-3">
                            <label for="EndTIme">*競標時間</label>
                        </div>
                        <div class="content col-12 col-md-9">
                            <div id="dateTimeContainer">
                                <div id="endTimeDate">
                                    <input type="date" name="fEndTimeDate" id="EndTimeDate" />
                                </div>
                                <div id="endTimeTime">
                                    <input type="time" name="fEndTimeTime" id="EndTimeTime" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="transFee">
                    <div class="divTitle">
                        運費
                    </div>
                    <div class="row divContent">
                        <div class="contentHead col-12 col-md-3">
                            *買家支付運費
                        </div>
                        <div class="content col-12 col-md-9" id="divTrans">
                            <div class="row">
                                <div class="col-4 col-md-4">
                                    <label class="fomr-check-label" for="chkPerson">面交</label>
                                </div>
                                <div class="col-4 offset-md-1 col-md-4">
                                    <input type="number" name="fTransPerson" id="txtPerson" />
                                </div>
                                <div class="form-check form-switch col-4 col-md-3">
                                    <input type="checkbox" class="form-check-input" id="chkPerson" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 col-md-4">
                                    <label class="fomr-check-label" for="chkSeven">7-11</label>
                                </div>
                                <div class="col-4 offset-md-1 col-md-4">
                                    <input type="number" name="fTransSeven" id="txtSeven" />
                                </div>
                                <div class="form-check form-switch col-4 col-md-3">
                                    <input type="checkbox" class="form-check-input" id="chkSeven" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 col-md-4">
                                    <label class="fomr-check-label" for="chkFami">全家</label>
                                </div>
                                <div class="col-4 offset-md-1 col-md-4">
                                    <input type="number" name="fTransFami" id="txtFami" />
                                </div>
                                <div class="form-check form-switch col-4 col-md-3">
                                    <input type="checkbox" class="form-check-input" id="chkFami" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 col-md-4">
                                    <label class="fomr-check-label" for="chkLogi">物流</label>
                                </div>
                                <div class="col-4 offset-md-1 col-md-4">
                                    <input type="number" name="fTransLogi" id="txtLogi" />
                                </div>
                                <div class="form-check form-switch col-4 col-md-3">
                                    <input type="checkbox" class="form-check-input" id="chkLogi" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="buttons">
                    <button id="btnCancel">取消</button>
                    <button id="btnPost">上架</button>
                </div>
            </div>
        </div>
    </form>
    <script>

        var domItemName = document.getElementById('ItemName');
        var countName = document.getElementById('countItemName');
        domItemName.addEventListener('change', function () {
            countName.textContent = `${domItemName.value.length}/60`;
        })


        for (let i = 0; i < 4; i++) {
            let picBlock = document.getElementById('picBlock' + i);
            let inputFile = document.getElementById('inputFile' + i);
            picBlock.addEventListener('dragover', function (event) {
                event.preventDefault();
                this.classList.remove('dragNone');
                this.classList.add('dragOver');
            });
            picBlock.addEventListener('dragleave', function (event) {
                this.classList.remove('dragOver');
                this.classList.add('dragNone');
            });
            picBlock.addEventListener('drop', function (event) {
                event.preventDefault();
                inputFile.files = event.dataTransfer.files;
                let file = inputFile.files[0];
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.addEventListener('load', function () {
                    picBlock.style.backgroundImage = `url('${reader.result}')`;
                })
                思源黑體            });
            picBlock.addEventListener('click', function () {
                inputFile.click();
            });
            inputFile.addEventListener('change', function (e) {
                if (inputFile.files.length > 0) {
                    let file = inputFile.files[0];
                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.addEventListener('load', function () {
                        picBlock.style.backgroundImage = `url('${reader.result}')`;
                    })
                    picBlock.classList.remove('dragNone');
                    picBlock.classList.add('dragOver');
                }
                else {
                    picBlock.style.backgroundImage = 'url("../../images/site/imgSelectFrameEmpty.png")';
                    picBlock.classList.remove('dragOver');
                    picBlock.classList.add('dragNone');
                }
            })
        }



        function addPicture(i, a) {

        }
        var domItemName = document.getElementById('ItemName');
        var countName = document.getElementById('countItemName');
        domItemName.addEventListener('change', function () {
            countName.textContent = `${domItemName.value.length}/60`;
        });
        var domItemDescription = document.getElementById('ItemDescription');
        var countDescription = document.getElementById('countDescription');
        domItemDescription.addEventListener('change', function () {
            countDescription.textContent = `${domItemDescription.value.length}/800`;
        });

        var switchBuyPrice = document.getElementById('BuyPrice')
        var domBuy = document.getElementById('txtBuy');

        switchBuyPrice.addEventListener('change', function () {
            if (switchBuyPrice.checked) {
                domBuy.disabled = false;
            }
            else {
                domBuy.value = -1;
                domBuy.disabled = true;
            }

            
        })
    </script>
</body>
</html>
