
@{
    ViewBag.Title = "關於我們";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/Content/HomeCss/cssHomeAbout.css" type="text/css" />
}


    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <h2>關於我們</h2>
            </div>
            <div class="col-12 cards ">
                <div class="row">
                    <div class="d-flex flex-column flex-md-column flex-lg-row col-md-5 col-lg-5 ">
                        <div class="w-100 p-3 divLogo">
                            <img src="~/Images/site/logo.svg" alt="CARDs.卡市" class="mw-100">
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-column flex-lg-row col-md-7 col-lg-7  websiteprofolio">
                        <p>
                            近年來收藏和遊玩卡牌遊戲的人數增長，而目前台灣地區未有專門競標交易卡牌的平台，一般大多是利用相關粉絲團或社團群組進行交易買賣，為了滿足想收藏或是有需求的玩家，此平台提供大家能競標、交易、討論。
                        </p>
                    </div>
                </div>
            </div>
            <div class="h-50 col-12 membersphoto">

                <div class="col-2  name">
                    <div class="w-auto p-3 h-auto d-inline-block photo">
                        <img src="~/Images/About/02_c.png" alt="孫維政" class="captin" id="id02">
                    </div>
                    <p class="d-none d-sm-block">孫維政</p>
                </div>

                <div class="col-2 name">
                    <div class="w-auto p-3 h-auto d-inline-block photo">
                        <img src="~/Images/About/14_c.png" alt="羅揚智" class="captin" id="id14">
                    </div>
                    <p class="d-none d-sm-block">羅揚智</p>
                </div>

                <div class="col-2 name ">
                    <div class="w-auto p-3 h-auto d-inline-block photo">
                        <img src="~/Images/About/16_c.png" alt="蔡裕仁" class="captin" id="id16">
                    </div>
                    <p class="d-none d-sm-block">蔡裕仁</p>
                </div>
                
                <div class="col-2 name">
                    <div class="w-auto p-3 h-auto d-inline-block photo">
                        <img src="~/Images/About/19_c.png" alt="施憲成" class="captin" id="id19">
                    </div>
                    <p class="d-none d-sm-block">施憲成</p>
                </div>

                <div class="col-2 name">
                    <div class="w-auto p-3 h-auto d-inline-block photo">
                        <img src="~/Images/About/26_c.png" alt="龔文賓" class="captin" id="id26">
                    </div>
                    <p class="d-none d-sm-block">龔文賓</p>
                </div>

                <div class="col-2 name">
                    <div class="w-auto p-3 h-auto d-inline-block photo">
                        <img src="~/Images/About/29_c.png" alt="龔宏裕" class="captin" id="id29">
                    </div>
                    <p class="d-none d-sm-block">龔宏裕</p>
                </div>

            </div>
            <div class="col-12 buttom" id="num02" style="display:block;">
                <div class="row">
                    <div class="col-3 ">
                        <img src="~/Images/About/02_r.jpg" alt="孫維政" class="mainphoto">
                    </div>
                    <div class="col-9 ">
                        <div class="col-3">
                            <h5 class="h5">組員：孫維政</h5>
                        </div>
                        <div class="col-9 description">
                            <p>
                                <ul>
                                    <li>後台頁面 Layout 頁面設計製作</li>
                                    <li>後台首頁 Icon 按鈕連結</li>
                                    <li>人員管理 CRUD</li>
                                    <li>商品管理 CRUD</li>
                                    <li>廣告管理 CRUD</li>
                                    <li>數據分析圖表 Chart.js</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 buttom" id="num14">
                <div class="row">
                    <div class="col-3 ">
                        <img src="~/Images/About/14_r.jpg" alt="羅揚智" class="mainphoto">
                    </div>
                    <div class="col-9 ">
                        <div class="col-3">
                            <h5 class="h5">組員：羅揚智</h5>
                        </div>
                        <div class="col-9 description">
                            <p>
                                <ul>
                                    <li>資料收集</li>
                                    <li>會員部分功能</li>
                                    <li>關於我們頁面製作</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 buttom" id="num16">
                <div class="row">
                    <div class="col-3 ">
                        <img src="~/Images/About/16_r.jpg" alt="蔡裕仁" class="mainphoto">
                    </div>
                    <div class="col-9 ">
                        <div class="col-3">
                            <h5 class="h5">組員：蔡裕仁</h5>
                        </div>
                        <div class="col-9 description">
                            <p>
                                <ul>
                                    <li>專題 UI / UX 設計</li>
                                    <li>功能建議</li>
                                    <li>專題 Logo 設計</li>
                                    <li>會員帳戶頁面前端設計</li>
                                    <li>帳戶頁面功能製作（功能修改）</li>
                                    <li>會員競標紀錄頁面前端設計</li>
                                    <li>競標功能製作（得標通知）</li>
                                    <li>競標紀錄分頁功能</li>
                                    <li>會員交換紀錄頁面前端設計</li>
                                    <li>交換功能製作（確認通知）</li>
                                    <li>交換紀錄分頁功能</li>
                                    <li>資料庫繫結</li>
                                    <li>網頁素材製作</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 buttom" id="num19">
                <div class="row">
                    <div class="col-3 ">
                        <img src="~/Images/About/19_r.jpg" alt="施憲成" class="mainphoto">
                    </div>
                    <div class="col-9 ">
                        <div class="col-3">
                            <h5 class="h5">組員：施憲成</h5>
                        </div>
                        <div class="col-9 description">
                            <p>
                                <ul>
                                    <li>專題發想、功能、設計建議</li>
                                    <li>資料收集</li>
                                    <li>交換物品瀏覽頁製作</li>
                                    <li>交換物品表單製作</li>
                                    <li>交換物品頁功能製作（ 留言、追蹤、交換）</li>
                                    <li>資料庫建立</li>
                                    <li>前後端串接</li>
                                    <li>專題影片剪輯製作</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 buttom" id="num26">
                <div class="row">
                    <div class="col-3 ">
                        <img src="~/Images/About/26_r.jpg" alt="龔文賓" class="mainphoto">
                    </div>
                    <div class="col-9 ">
                        <div class="col-3">
                            <h5 class="h5">組員：龔文賓</h5>
                        </div>
                        <div class="col-9 description">
                            <p>
                                <ul>
                                    <li>交換商品上架功能</li>
                                    <li>交換首頁前端刻板</li>
                                    <li>交換首頁上架商品顯示功能</li>
                                    <li>交換首頁商品分類功能</li>
                                    <li>交換首頁顯示商品篩選功能</li>
                                    <li>交換提出交換功能參與</li>
                                    <li>交換功能設計發想</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 buttom" id="num29">
                <div class="row">
                    <div class="col-3 ">
                        <img src="~/Images/About/29_r.jpg" alt="龔宏裕" class="mainphoto">
                    </div>
                    <div class="col-9 ">
                        <div class="col-3">
                            <h5 class="h5">組長：龔宏裕</h5>
                        </div>
                        <div class="col-9 description">
                            <p>
                                <ul>
                                    <li>前台套版製作、登入判斷</li>
                                    <li>首頁廣告輪播圖、最新商品、 搜尋功能，搜尋完全、部分符合</li>
                                    <li>會員註冊、Email 驗證、密碼 SHA 加密、忘記密碼功能</li>
                                    <li>會員登入登出、錯誤導向頁面，例外紀錄信件存查</li>
                                    <li>競標商品瀏覽清單頁製作，分類搜尋、過濾、分頁與排列呈現</li>
                                    <li>競標商品上架頁製作，圖片拖拉上傳，商品 ID 時間與 hash 化</li>
                                    <li>競標商品詳細頁製作，追蹤、留言、出價功能，加入行事曆功能，鈴噹功能</li>
                                    <li>出價判斷，得標、直購與時間倒數抽換畫面、運送結果表單</li>
                                    <li>Git 建置、Azure 雲端建置、簡報製作</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
@section scripts{
    <script>
        var details = document.querySelectorAll('.buttom');
        document.querySelectorAll('.captin').forEach(imgSmall => {
            let num = imgSmall.id.slice(-2);

            imgSmall.addEventListener('mouseover', () => {
                details.forEach(dom => {
                    dom.style.display = 'none';
                });
                document.getElementById('num' + num).style.display = 'block';
            });
            //imgSmall.addEventListener('mouseleave', () => {
            //    details.forEach(dom => {
            //        dom.style.display = 'none'
            //    });
            //});
        });
    </script>
}