
@{
    ViewBag.Title = "首頁";
}

<div id="adCarosel">
    <div id="adMain">
    </div>
    <div id="adArrowLeft">
        <img src="~/images/site/iconArrowLeft.png" />
    </div>
    <div id="adArrowRight">
        <img src="~/images/site/iconArrowRight.png" />
    </div>
    <div id="adPosition">
        <img src="~/Images/site/iconPositionFalse.png" />
        <img src="~/Images/site/iconPositionFalse.png" />
        <img src="~/Images/site/iconPositionFalse.png" />
        <img src="~/Images/site/iconPositionFalse.png" />
        <img src="~/Images/site/iconPositionTrue.png" />
    </div>
</div>
<div id="betweenBar"></div>
<div id="mainContent">
    <div id="contentInfo" class="row">
        <div id="newArrival" class="col-6 col-md-3">
            <div id="arrivalText">最新商品</div>
            <div id="arrivalBar"></div>
        </div>
        <div id="checkAll" class="offset-2 col-4 offset-md-7 col-md-2">
            查看全部 →
        </div>
    </div>
</div>
<div id="cardList">
    <div class="row">
        <div class="content1 col-sm-12 col-md-6 col-lg-3">
            <div class="divPicture"><img src="~/Images/site/pkmcharizard.png" /></div>
            <div class="divTitle">Charizard V 2020 Pokemon TCG Sword & Shield</div>
            <div class="divPrice">$1388</div>
            <div class="divButton"><button class="btnCheck" type="button" onclick="location.href='sale/pkmcharizard.html'">查看拍賣</button></div>
        </div>
        <div class="content2 col-sm-12 col-md-6 col-lg-3">
            <div class="divPicture"><img src="~/Images/site/nbapanini.png" /></div>
            <div class="divTitle">2020-21 Panini Illusions Basketball Blaster Box</div>
            <div class="divPrice">$4000</div>
            <div class="divButton"><button class="btnCheck" type="button" onclick="location.href='sale/nbapanini.html'">查看拍賣</button></div>
        </div>
        <div class="content3 col-sm-12 col-md-6 col-lg-3">
            <div class="divPicture"><img src="~/Images/site/yugiohprismatic.png" /></div>
            <div class="divTitle">Yu-Gi-Oh! OCG Prismatic Collection</div>
            <div class="divPrice">$3210</div>
            <div class="divButton"><button class="btnCheck" type="button" onclick="location.href='sale/yugiohprismatic.html'">查看拍賣</button></div>
        </div>
        <div class="content4 col-sm-12 col-md-6 col-lg-3">
            <div class="divPicture"><img src="~/Images/site/mtgesika.png" /></div>
            <div class="divTitle">Esika, God of the Tree (Foil) Magic: The Gathering TCG</div>
            <div class="divPrice">$640</div>
            <div class="divButton"><button class="btnCheck" type="button" onclick="location.href='sale/mtgesika.html'">查看拍賣</button></div>
        </div>
    </div>
</div>

