
@{
    ViewBag.Title = "首頁";
}
@section styles{
    <link rel="stylesheet" href="~/Content/HomeCss/cssHomeIndex.css" type="text/css" />
}

<div id="carouselArea">
    <img src="~/Images/User/Index/SlideShowAD/CuteDog_01.jpeg" id="imgAd0" />
    <img src="~/Images/User/Index/SlideShowAD/CuteDog_02.jpeg" id="imgAd1" hidden />
    <img src="~/Images/User/Index/SlideShowAD/CuteDog_03.jpg" id="imgAd2" hidden />
    <img src="~/Images/User/Index/SlideShowAD/CuteDog_01.jpeg" id="imgAd3" hidden />
    <img src="~/Images/User/Index/SlideShowAD/CuteDog_02.jpg" id="imgAd4" hidden />

    <div id="divLeft">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div id="divRight">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
    <div id="divCurrent">
        <i id="dot0" class="fa-solid fa-circle-dot"></i>
        <i id="dot1" class="fa-solid fa-circle"></i>
        <i id="dot2" class="fa-solid fa-circle"></i>
        <i id="dot3" class="fa-solid fa-circle"></i>
        <i id="dot4" class="fa-solid fa-circle"></i>
    </div>
</div>
    <div id="mainContent">
        <div id="contentInfo" class="row">
            <div id="newArrival" class="col-6 col-md-3">
                <div id="arrivalText">最新商品</div>
                <div id="arrivalBar"></div>
            </div>
            <div id="checkAll" class="offset-2 col-4 offset-md-7 col-md-2">
                查看全部 →
            </div>
        </div>
    </div>

    <div id="cardList">
    </div>

@section scripts{
    <script>
        var img0 = document.getElementById('imgAd0'); var dot0 = document.getElementById('dot0');
        var img1 = document.getElementById('imgAd1'); var dot1 = document.getElementById('dot1');
        var img2 = document.getElementById('imgAd2'); var dot2 = document.getElementById('dot2');
        var img3 = document.getElementById('imgAd3'); var dot3 = document.getElementById('dot3');
        var img4 = document.getElementById('imgAd4'); var dot4 = document.getElementById('dot4');
        var arrowLeft = document.getElementById('divLeft');
        var arrowRight = document.getElementById('divRight');
        var imgNow = 0;


        document.querySelectorAll('[id^="dot"]').forEach(dom => {
            dom.addEventListener('click', function () {

            })
        });

        function carouselAuto() {

        }

        function carouselJump(n) {
            let toImg = document.getElementById('imgAd' + n);
            document.querySelectorAll('[id^="imgAd"]').hidden = true;
            toImg.hidden = false;
            let toDot = document.getElementById('dot' + n);
            document.querySelectorAll('[id^="dot"]').forEach(dom => {
                dom.classList.remove('fa-circle-dot');
                dom.classList.add('fa-circle');
            });
            toDot.classList.remove('fa-circle');
            toDot.classList.add('fa-circle-dot');
        }
    </script>
}

