
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @{ ViewBag.Title = "Cards" ;}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/AdminCss/cssUserIndex123.css" />
</head>

<body>
    @*<div id="adCarosel">
            <div id="adMain">
            </div>
            <div id="adArrowLeft">9
                <img src="~/images/site/iconArrowLeft.png" />
            </div>
            <div id="adArrowRight">
                <img src="~/images/site/iconArrowRight.png" />
            </div>
            <div id="adPosition">
                <img src="~/Images/site/iconPositionFalse.png" />
                <img src="~/Images/site/iconPositionFalse.png" />
                <img src="~/Images/site/iconPositionFalse.png" />
                <img src="~/Images/site/iconPositionFalse.png" />
                <img src="~/Images/site/iconPositionTrue.png" />
            </div>
        </div>
        <div id="betweenBar"></div>

        <div id="mainContent">
            <div id="contentInfo" class="row">
                <div id="newArrival" class="col-6 col-md-3">
                    <div id="arrivalText">最新商品</div>
                    <div id="arrivalBar"></div>
                </div>
                <div id="checkAll" class="offset-2 col-4 offset-md-7 col-md-2">
                    查看全部 →
                </div>
            </div>
        </div>*@

    <!-- 首頁幻燈片廣告圖片(左右輪播) HTML-->
    <div class="slideshow-container">
        <!-- 廣告圖片 1-->
        <div class="mySlides">
            <div class="numbertext">1 / 3</div>
            <img src="~/images/User/Index/SlideShowAD/BlueEyedWhiteDragon.png" style="width:100%">
            <div class="text">Caption Text</div>
        </div>
        <!-- 廣告圖片 2-->
        <div class="mySlides">
            <div class="numbertext">2 / 3</div>
            <img src="~/images/User/Index/SlideShowAD/CuteDog_01.jpeg" style="width:100%">
            <div class="text">Caption Two</div>
        </div>
        <!-- 廣告圖片 3-->
        <div class="mySlides">
            <div class="numbertext">3 / 3</div>
            <img src="~/images/User/Index/SlideShowAD/CuteDog_02.jpeg" style="width:100%">
            <div class="text">Caption Three</div>
        </div>

        <!-- 左右角括號<>按鈕 -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <br>
    <!-- 圓點按鈕 -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <div id="cardList">
            <div class="row">
                <div class="content1 col-sm-12 col-md-6 col-lg-3">
                    <div class="divPicture"><img src="~/Images/site/pkmcharizard.png" /></div>
                    <div class="divTitle">Charizard V 2020 Pokemon TCG Sword & Shield</div>
                    <div class="divPrice">$1388</div>
                    <div class="divButton"><button class="btnCheck" type="button" onclick="location.href='sale/pkmcharizard.html'">查看拍賣</button></div>
                </div>
                <div class="content2 col-sm-12 col-md-6 col-lg-3">
                    <div class="divPicture"><img src="~/Images/site/nbapanini.png" /></div>
                    <div class="divTitle">2020-21 Panini Illusions Basketball Blaster Box</div>
                    <div class="divPrice">$4000</div>
                    <div class="divButton"><button class="btnCheck" type="button" onclick="location.href='sale/nbapanini.html'">查看拍賣</button></div>
                </div>
                <div class="content3 col-sm-12 col-md-6 col-lg-3">
                    <div class="divPicture"><img src="~/Images/site/yugiohprismatic.png" /></div>
                    <div class="divTitle">Yu-Gi-Oh! OCG Prismatic Collection</div>
                    <div class="divPrice">$3210</div>
                    <div class="divButton"><button class="btnCheck" type="button" onclick="location.href='sale/yugiohprismatic.html'">查看拍賣</button></div>
                </div>
                <div class="content4 col-sm-12 col-md-6 col-lg-3">
                    <div class="divPicture"><img src="~/Images/site/mtgesika.png" /></div>
                    <div class="divTitle">Esika, God of the Tree (Foil) Magic: The Gathering TCG</div>
                    <div class="divPrice">$640</div>
                    <div class="divButton"><button class="btnCheck" type="button" onclick="location.href='sale/mtgesika.html'">查看拍賣</button></div>
                </div>
            </div>
      </div>

    <!-- 首頁幻燈片廣告圖片功能 JS -->
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

     
    </script>

</body>

</html>

















