
@{
    ViewBag.Title = "交換商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/Content/ExchangeCss/cssExchangeItem.css" type="text/css" />
}
<div>
    <p style="font-size:100px;text-align: center;">交換成功</p>
</div>

