
@{
    ViewBag.Title = "交換商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/Content/ExchangeCss/cssExchangeItem.css" type="text/css" />
}
<div class="container">
    <div class="row">
        <img src="~/images/site/YES.jpg" alt="" style="width:50%"/>
        <p style="font-size:80px;text-align: center;">交換成功</p>
    </div>
</div>

