body {
    margin: 0;
    padding: 0;
}

form {
    width: 800px;
    margin: 30px auto;
    padding-top: 5px;
    border: 2px solid;
    border-color: #1f3444;
    border-radius: 30px
}

.form-horizontal {
    width: 500px;
    margin: 10px auto;
    padding:10px ;
}

.form-group {
    width: 350px;
    font-size: 16px;
    margin: 3px auto;
    padding:3px;

}

.col-md-10 {
    width: auto;
    display: inline-block;
    margin: 3px auto;
    margin-left:10px;
    padding: 3px;
}


.col-md-10 > input {
    width: 300px;
}

#CreateBtn {
    background-color: #1f3344;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

#CreateBtn:hover {
        opacity: 2;
}

.form-control {
    margin: 0px;
    padding: 2px 0 2px 10px;
    font-size: 16px;
}