
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailValidation</title>
</head>
<body>
    <div>
        <p>請至您填的 Email 信箱收信，取得驗証碼。</p>
        <form action="#" method="post">
            <label for="validationNumber">輸入驗証碼：</label>
            <input type="text" name="validationNumber" id="validationNumber" maxlength="6" required />
            <input type="submit" value="送出" />
        </form>
        <span style="color: red;">@ViewData["errorMsg"]</span>
        <br />
        <br />
        <br />
        <!--  <button id="btnRefill">重新填寫Email</button>  -->
        若要重新重新填寫 Email ，請登入會員至會員中心修改。
    </div>
    <script>
        @*document.getElementById('btnRefill').addEventListener('click', function () {
            location.href = '@Url.Action("RefillEmail")';
        });*@
    </script>
</body>
</html>
