
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordForget</title>
</head>
<body>
    <div> 
        <form method="post">
            <p>
                <label for="txtAcc">帳號：</label>
                <input type="text" name="account" id="txtAcc" required />
            </p>
            <p>
                <label for="txtEmail">Email：</label>
                <input type="email" name="email" id="txtEmail" required />
            </p>
            <p>
                <input type="submit" value="送出" />
            </p>
        </form>
        <span style="color:red;">@ViewData["errorMsg"]</span>
    </div>
</body>
</html>
