
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>寄送新密碼</title>
</head>
<body>
    <div> 
        <p>
            新密碼已寄送到您的信箱，請收信收取新密碼來登入
        </p>
        <p>
            網頁將導向登入頁面...
        </p>
    </div>
    <script>
        setTimeout(function () {
            location.href = '@Url.Action("Login")';
        }, 3500);
    </script>
</body>
</html>
