body {
    font-family: 'Noto Sans TC Medium','微軟正黑體';
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #ebebeb;
}
#divHidden{
    visibility: hidden;
}
#divIcon {
    padding: 15px;
    text-align: center;
}
#webIcon{
    width: 14rem;
}
#divBack {
    text-align: right;
    font-size: 1.6rem;
}
#divHidden,#divBack{
    width: 20%;
}
#divBack > i{
    margin-right: 3rem;
}
#formLogin{
    margin: auto;
    text-align: center;
    margin-top: 120px;
}
#txtLoginInfo{
    font-size: 28px;
    color: #333333;
}

#divUsr {
    margin-top: 40px;
    margin-bottom: 15px;
}
#username{
    width: 100%;
    height: 55px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
}
#divPwd {
    position: relative;
    margin-top: 15px;
}

#password {
    width: 100%;
    height: 55px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
}
#divPwd > div {
    position: absolute;
    color: #808080;
    font-size: 1.4rem;
    top: 0.8rem;
    right: 1.5rem;
}
#divForget{
    margin-top: 10px;
    text-align: right;

}
#pwdForget{
    text-decoration: none;
    font-size: 14px;
    color: #333333;
}

#divSend{
    margin-top: 50px;
}
#btnSend{
    width: 100%;
    height: 55px;
    color: #ffffff;
    background-color: #ced3d9;
    border: none;
    border-radius: 5px;
}

#txtRegistInfo{
    margin-top: 18px;

}
#txtRegistInfo>a {
    text-decoration: none;
    margin-left: 5px;
    color: #1e3344;
}
span.error{
    color: red;
}