<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@{ ViewBag.Title = "Index"; }</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/AdminCss/cssAdminIndex.css" />
</head>

<body>
    <main>
        <div class="container-fluid padding">
            <div class="row icon-wrap">

                <a class="icon-size" href="/Admin/PsnManage">
                    <div class="product-item">
                        <div class="img-wrap300 position-width">
                            <img class="image" src="~/images/Admin/Icon_會員.png">
                            <div class="overlay">
                                <div class="text">人員<br>管理</div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="icon-size"href="/Admin/ProdManage">
                    <div class="product-item">
                        <div class="img-wrap300 position-width">
                            <img class="image" src="~/images/Admin/Icon_商品.png">
                            <div class="overlay">
                                <div class="text">商品<br>管理</div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="icon-size"href="/Admin/AdManage">
                    <div class="product-item">
                        <div class="img-wrap300 position-width">
                            <img class="image" src="~/images/Admin/Icon_廣告.png">
                            <div class="overlay">
                                <div class="text">廣告<br>管理</div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="icon-size"href="/Admin/DataAnalyze">
                    <div class="product-item">
                        <div class="img-wrap300 position-width" >
                            <img class="image" src="~/images/Admin/Icon_數據.png">
                            <div class="overlay">
                                <div class="text">數據<br>分析</div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
         </div>

</main>

</body>
</html>





