
@{
    ViewBag.Title = "ProdManage";
}



@{
    ViewBag.Title = "Memberes";
    var footerText = DateTime.Now.Year + "年 / " + DateTime.Now.Month + "月 / " + DateTime.Now.Day + "日 ";
}

<div class="container padbottom">

    <br />
    <div class="jumbotron">
        <h4 class="textModify">商品管理 Members </h4>
        <br />
        <div class="textModify fontM">@footerText</div>
    </div>
    <h2>施工中..</h2>
</div>