/*  淡灰 ced3d8   ebebeb    深灰 6b6b6b   黑 333333    藏青 1f3444    金  ab8f4e    白ffffff */

@media (max-width: 575px) {
    .imgWrap {
        height: 30rem;
        margin-top: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .imgWrap {
        height: 35rem;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .imgWrap {
        height: 20rem;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .imgWrap {
        height: 20rem;
    }


}
@media (min-width: 1200px) {
    .imgWrap {
        height: 20rem;
    }
}
#banner{
    height: 200px;
    background-color: #ebebeb;
    font-size: 50px;
}

#mainContent{
    margin-top: 20px;
}
#mainContent > div > nav {
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
    color: #000000;
}

.sortTitle{
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.cardBorder {
    border-radius: 1rem;
    border: 1px solid #ced3d8;
    padding: 0.6rem;
    margin-bottom: 1.2rem;
}
.listBorder {
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-radius: 1rem;
    border: 1px solid #ced3d8;
    padding: 0.6rem;
    margin-bottom: 1.2rem;
}
.cardSelect {
    background-color: #ebebeb;
}
.imgWrap{

    width: 100%;
}
.listImgWrap {
    width: 10%;
    text-align: center;
}
.listName {
    width: 40%;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listMoney {
    text-align: center;
    width: 15%;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ab8f4e;
}
.listCount {
    text-align: center;
    width: 12%;
    font-size: 1.3rem;
}
.listTime {
    width: 23%;
    font-size: 1.1rem;
    text-align: center;
}
.cardImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.listImg {
    width: 4rem;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.cardBody{
    padding: 0px 1rem;
    margin-top:1.5rem;
}
.pName{
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.pMoney{
    font-weight: bold;
    font-size: 1.5rem;
    color: #ab8f4e;
}
.pCount{

}
.pTime{
    font-size: 1.1rem;
}
#selectedSort{
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
}
#filterArrangeBar {
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: #ebebeb;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
#divFilter{
    width: auto;
}
#divFilter>button{
    border: none;
    border-radius: 5px;
    padding: 0.4rem 1.5rem;
    margin-left: 0.8rem;
}
.btnSelect {
    background-color: #1f3444;
    color: #ffffff;
}
.btnNotSelect{
    background-color: #ffffff;
    color: #1f3444;
}
#divArrange{
    width:auto;
    display: flex;
    align-items:center;
}
#divArrange > button{
    font-size: 1.8rem;
    border: none;
    text-align: center;
    border-radius: 5px;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
}
#pageBtnRow{
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}
#pageBtnRow > button {
    font-size: 1.8rem;
    border: 1px solid #1f3444;
    text-align: center;
    border-radius: 4px;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
}

/* navbar */
.offcanvas {
    /* 側邊欄位寬度 */
    width: 320px;
    z-index: 1051;
}

.offcanvas-header {
    background-color: #1f3344;
    color: #fff;
    margin-bottom: 20px;
}

.nav-item {
    /* background-color: #666; */
    margin-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(31,51,68);
    font-weight: 400;
    font-size: 2rem;
}

    .navbar-light .navbar-nav .nav-link.active {
        color: #ab8f4e;
    }

h2 {
    color: #7B7B7B;
    font-weight: 900;
}

/* page */
.page {
    /* background-color: #ab8f4e; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}