/*  淡灰 ced3d8   ebebeb    深灰 6b6b6b   黑 333333    藏青 1f3444    金  ab8f4e    白ffffff */

@media (max-width: 575px) {
    html {
        font-size: 14px;
    }
    .imgWrap {
        height: 20rem;
    }
    #barBlock {
        border: 1px solid #ced3d8;
        padding: 10px;
        font-size: 1.4rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 14px;
    }
    .imgWrap {
        height: 35rem;
    }
    #barBlock {
        border: 1px solid #ced3d8;
        padding: 10px;
        font-size: 1.4rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 12px;
    }
    .imgWrap {
        height: 20rem;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    html {
        font-size: 13px;
    }
    .imgWrap {
        height: 20rem;
    }


}
@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
    .imgWrap {
        height: 20rem;
    }
}
#fullListPage{
    width: 86%;
    margin: auto;
    
}
#banner{
    height: 200px;
    background-color: #ebebeb;
    font-size: 50px;
}

#mainContent{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: #000000;
}
.barSortItem {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding-left: 3rem;
}

.sortTitle{
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.cardBorder {
    border-radius: 1rem;
    
    padding: 0.6rem;
    margin-bottom: 1.2rem;
}
.cardSelect {
    background-color: #ebebeb;
}
.imgWrap{
    width: 100%;
}
.cardImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.cardBody{
    padding: 0px 1rem;
    
}
.pName{
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.pMoney{
    font-weight: bold;
    font-size: 1.5rem;
    color: #ab8f4e;
}
.pTime{
    font-size: 1.1rem;
}
#barSortName{
    margin-left: 1.2rem;
    font-weight: bold;
}

.fixedDivBar{
    position: fixed;
    top: 0;
    z-index: 100;
}
#divBar{
    background-color: #ffffff;
}

@keyframes hideExpand{
    from{
        margin-top: -30px;
    }
    to{
        margin-top: 20px;
        display: none;
    }
}

.hideExpandItem{
    animation-duration: 0.6s;
    animation-name: hideExpand;
}