/*  淡灰 ced3d8   ebebeb    深灰 6b6b6b   黑 333333    藏青 1f3444    金  ab8f4e    白ffffff */
@media (min-width: 1200px) {
    html{
        font-size: 14px;
    }
    #btnReport, #btnFavorite, #btnComment {
        font-size: 1.3rem;
        height: 60px;
        border-radius: 30px;
        font-weight: 700;
    }
    .moneyRow {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .titleMoney {
        font-size: 1.6rem;
    }
    .goldMoney {
        font-size: 1.8rem;
    }
    #btnBuy, #btnBid{
        height: 40px;
        width: 80%;
        font-size: 1.4rem;
    }
    #btnCheck, #btnContinue {
        height: 40px;
        width: 50%;
        font-size: 1.4rem;
    }
    .imgSmall {
        height: 100px;
    }
    #txtBid {
        height: 3.2rem;
        font-size: 1.4rem;
    }
    .finishRow{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .finishTitle {
        font-size: 1.6rem;
    }
    .selectTrans {
    }
}
@media (min-width: 992px) and (max-width:1199px){
    html {
        font-size: 13px;
    }
    #btnReport, #btnFavorite, #btnComment {
        font-size: 1.1rem;
        height: 3.6rem;
        border-radius: 30px;
    }
    .moneyRow {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .titleMoney {
        font-size: 1.6rem;
    }
    .goldMoney {
        font-size: 1.8rem;
    }
    #btnBuy, #btnBid, #btnCheck {
        height: 40px;
        width: 80%;
        font-size: 1.4rem;
    }
    #btnCheck, #btnContinue {
        height: 40px;
        width: 50%;
        font-size: 1.4rem;
    }
    .imgSmall {
        height: 80px;
    }
    #txtBid {
        height: 3.2rem;
        font-size: 1.4rem;
    }
    .finishRow {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .finishTitle {
        font-size: 1.6rem;
    }
}
@media (min-width: 768px) and (max-width:991px){
    html {
        font-size: 12px;
    }
    #btnReport, #btnFavorite,#btnComment{
        height: 3rem;
        border-radius: 20px;
    }
    .moneyRow {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .titleMoney {
        font-size: 1.25rem;
    }
    .goldMoney {
        font-size: 1.6rem;
    }
    #btnBuy, #btnBid {
        height: 36px;
        width: 85%;
        font-size: 1.2rem;
    }
    #btnCheck, #btnContinue {
        height: 40px;
        width: 50%;
        font-size: 1.4rem;
    }
    .imgSmall {
        height: 60px;
    }
    #txtBid {
        height: 2.6rem;
        font-size: 1.2rem;
    }
    .finishRow {
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }
    .finishTitle {
        font-size: 1.25rem;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    html {
        font-size: 11px;
    }
    #btnReport, #btnFavorite, #btnComment {
        font-size: 1.6rem;
        height: 5rem;
        border-radius: 30px;
    }
    .moneyRow {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .titleMoney {
        font-size: 1.4rem;
    }
    .goldMoney {
        font-size: 1.8rem;
    }
    #btnBuy, #btnBid {
        height: 38px;
        width: 85%;
        font-size: 1.2rem;
    }
    #btnCheck, #btnContinue {
        height: 40px;
        width: 50%;
        font-size: 1.4rem;
    }
    .imgSmall {
        height: 60px;
    }
    #txtBid {
        height: 3.2rem;
        font-size: 1.4rem;
    }
    .commentContent {
        order: 1;
    }
    .finishRow {
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }
    .finishTitle {
        font-size: 1.6rem;
    }
}
@media (max-width: 575px){
    html {
        font-size: 10px;
    }
    #btnReport, #btnFavorite, #btnComment {
        height: 40px;
        border-radius: 20px;
    }
    .moneyRow {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .titleMoney {
        font-size: 1.8rem;
    }
    .goldMoney {
        font-size: 2rem;
    }
    #btnBuy, #btnBid {
        height: 38px;
        width: 85%;
        font-size: 1.6rem;
    }
    #btnCheck, #btnContinue {
        height: 40px;
        width: 50%;
        font-size: 1.4rem;
    }
    .imgSmall {
        height: 6rem;
    }
    #txtBid {
        height: 3.8rem;
        font-size: 1.8rem;
    }
    .commentContent {
        order: 1;
    }
    .finishRow {
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }
    .finishTitle {
        font-size: 1.8rem;
    }
}

#divSort{
    color: #6b6b6b;
    font-size: 1.2rem;
}

#divItemName{
    font-size: 1.9rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

#divButtons {
    margin-top: 10px;
    margin-bottom: 10px;
}


#divPhoto{
    text-align: center;

}
#imgShow{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

#divSmallList{
    margin-top: 10px;
    margin-bottom: 10px;
}

#divTime{
    border: 2px solid #ced3d8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#divClock{
    width: 40px;
    padding: 5px;
    margin-right: 3px;
    text-align:center;

}
#imgClock{
    width: 20px;
}
#divStamp {
    padding: 10px 12px 10px 12px;
    border-left: 2px solid #ced3d8;
    border-right: 2px solid #ced3d8;
    flex: auto;
    text-align: center;
    color: #ced3d8;
}
#divCalender {
    width: 100px;
    color: #ab8f4e;
    text-align: center;
}

#divMoney{
    margin-top: 10px;
    background-color: #ebebeb;
    border-radius: 10px;
}
.moneyRow{
    align-items: center;
}
.rowBuy{
    border-bottom: 3px solid #ffffff;

}

#divMoneyStep {
    padding-top: 5px;
    align-items: center;
    height: 60px;
    padding-bottom: 5px;
 }
.titleMoney {
    text-align: left;
    font-weight: 700;
    color: #1f3444;
}
.goldMoney {
    font-weight: 700;
    color: #ab8f4e;
}

#divBid {
    padding-top: 5px;
    height: 80px;
    align-items: center;
    padding-bottom: 10px;
    
}
#titleTextBox{
    text-align: right;
}
#txtBid{
    width: 90%;
    border: 1px solid #6b6b6b;
}
#btnBuy, #btnBid, #btnCheck, #btnContinue {
    background-color: #1f3444;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}
#divHistory{
    margin-top: 20px;
}

.historyRecord{
    margin-top: 5px;
    margin-bottom: 5px;
}
.historyAccount{

}

.historyTime{

}

.historyMoney{

}

.titleTopic{
    background-color: #1f3444;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#divDescription, #divComment, #divHistory {
    border-top: 2px solid #ced3d8;
    margin-top: 1.6rem;
}

#divDescriptContent{
    font-size: 1.4rem;
    margin-top: 16px;
    margin-bottom: 20px;
}

.commentRecord{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;

}
.commentAccount {
    font-size: 1.4rem;
}
.commentContent {
    overflow:auto;
    font-size: 1.4rem;
}

.commentTime {
    text-align: right;
    color: #6b6b6b;
}
#divCountComment{
    text-align: center;
}
#countComment {
    font-size: 1.2rem;
    color: #6b6b6b;
}
#txtComment{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #ced3d8;
}
#btnCommentSend{
    background-color: #1f3444;
    color: #ffffff;
    border-radius: 4px;
    width: 100%;
    border: none;
    padding: 5px;
}

.imgSmall{
    margin-right: 1rem;
}

.imgOut {
    filter: opacity(0.6);
}

.imageHover{
    filter: opacity(1);
}

#btnReport, #btnFavorite, #btnComment {
    color: #1f3444;
    font-weight: bold;
    width: 100%;
    border: 2px solid #ced3d8;
}
#btnReport,#btnComment{
    background-color: #ffffff;
}

.following {
    background-color: #ced3d8;
}
.notFollowing{
    background-color: #ffffff;
}
.commentRecord:nth-child(2n+1) {
    background-color: #ebebeb;
}
.finishRow {
    text-align: center;
    font-weight: 700;
}
.finishTitle {
    font-weight: 700;
}
.navyBlue {
    color: #1f3444;
}
.gold {
    color: #ab8f4e;
}
