/*  淡灰 ced3d8   ebebeb    深灰 6b6b6b   黑 333333    藏青 1f3444    金  ab8f4e    白ffffff */

#fullListPage{
    width: 86%;
    margin: auto;
    
}
#banner{
    height: 200px;
    background-color: #ebebeb;
    font-size: 50px;
}

#mainContent{
    margin-top: 20px;
}
.divCard{
    width: 90%;

}
.imgCard{
    width: 100%;
}
.divItemName{
    font-weight: bold;
    font-size: 30px;
}
.divMoney{
    font-weight: bold;
    font-size: 28px;
    color: #ab8f4e;
}
