/*  淡灰 ced3d8   ebebeb    深灰 6b6b6b   黑 333333    藏青 1f3444    金  ab8f4e    白ffffff */
@media (max-width: 575px) {
    .picBlock {
        width: 20rem;
        height: 24rem;
        background-size: 20rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .picBlock {
        width: 14rem;
        height: 18rem;
        background-size: 14rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .picBlock {
        width: 6.8rem;
        height: 10rem;
        background-size: 6.8rem;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .picBlock {
        width: 9rem;
        height: 13rem;
        background-size: 9rem;
    }
}

@media (min-width: 1200px) {
    .picBlock {
        width: 11rem;
        height: 15rem;
        background-size: 11rem;
    }
}


#mainBox{
    margin-top: 5px;
}
.errMsg{
    color: red;
}
#basicInfo,#sellDetail,#transFee{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #ffffff;
    border-radius: 10px 10px;
    border: 2px solid lightgray;
    padding: 40px;
    box-shadow: 0px 0px 6px 2px lightgray;
}
.picBlockList{
    display: flex;
    flex-wrap: wrap;
}

.picBlock {
    position:relative;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 10px;
    border-radius: 14px;
    vertical-align: central;
    background-image: url("../../images/site/imgSelectFrameEmpty.png");
    background-repeat: no-repeat;
    background-position: center;
}

.txtBlock{
    width: 100px;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    bottom: 10px;
}
.imgSelect {
    width: 100%;

}

.dragNone {
    border: 4px dashed #6b6b6b;
}

.dragOver {
    border: 3px solid #ced3d8;
}
.divTitle{
    font-size: 24px;
    color: #333333;
}

.contentHead{
    text-align: right;
}
#BuyPrice {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    
}
.divContent{
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 10px;
    font-size: 22px;
    color: #6b6b6b;
}
#divImgSelect{
    margin-bottom: 70px;
}
#divItemName, #divItemDescription, #divMoneyStart, #divMoneyStep, #divMoneyEnd, #divGrading {
    margin-bottom: 40px;
}
div.content{
    text-align: center;
}
.content > input, #seleSort, #seleGrading {
    width: 100%;
    height: 40px;
    border: 2px solid #ced3d8;
    border-radius: 6px;
}
#ItemDescription{
    width: 100%;
    height: 250px;
    border: 2px solid #ced3d8;
    border-radius: 6px;
}
#dateTimeContainer{
    display: flex;
    justify-content: center;
}
#endTimeDate,#endTimeTime{
    flex:none;
    width:55%;
}
#EndTimeDate,#EndTimeTime{
    width: 80%;
}
#divTrans{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #ced3d8;
    border-radius: 5px;
}
[id^="txt"]{
    width: 100%;
}
#divTrans>div.row{
    padding: 10px;
}
label[for^="chk"]{
    color: #333333;
}
[id^="btn"]{
    width: 240px;
    height: 40px;
    margin-top: 20px;
    font-size: 22px;
    border: none;
    border-radius: 3px;
}
#buttons{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: right;
    
}
#btnCancel{
    margin-right: 20px;
    color: #333333;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 2px lightgray;
}
#btnPost{
    margin-right: 150px;
    color: #ffffff;
    background-color: #1f3444;
}
[id^="inputFile"]{
    display: none;
}
#countItemName, #countDescription{
    text-align: right;
    margin-right: 10px;
}