/*  淡灰 ced3d8   ebebeb    深灰 6b6b6b   黑 333333    藏青 1f3444    金  ab8f4e    白ffffff */
@media (min-width: 1200px) {
    #btnReport, #btnFavorite, #btnComment {
        height: 60px;
        border-radius: 30px;
    }
    .moneyRow {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .titleMoney {
        font-size: 1.5rem;
    }
    .goldMoney {
        font-size: 1.8rem;
    }
    #btnBuy, #btnBid {
        height: 40px;
        width: 80%;
        font-size: 1.4rem;
    }
    .imgSmall {
        height: 100px;
    }
    #txtBid {
        height: 3.2rem;
        font-size: 1.4rem;
    }
}
@media (min-width: 992px) and (max-width:1199px){
    html{
        font-size: 13px;
    }
    #btnReport, #btnFavorite, #btnComment {
        height: 60px;
        border-radius: 30px;
    }
    .moneyRow {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .titleMoney {
        font-size: 1.5rem;
    }
    .goldMoney {
        font-size: 1.8rem;
    }
    #btnBuy, #btnBid {
        height: 40px;
        width: 80%;
        font-size: 1.4rem;
    }
    .imgSmall {
        height: 80px;
    }
    #txtBid {
        height: 3.2rem;
        font-size: 1.4rem;
    }
}
@media (min-width: 768px) and (max-width:991px){
    html{
        font-size: 12px;
    }
    #btnReport,#btnFavorite,#btnComment{
        height: 40px;
        border-radius: 20px;
    }
    .moneyRow {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .titleMoney {
        font-size: 1.2rem;
    }
    .goldMoney {
        font-size: 1.6rem;
    }
    #btnBuy, #btnBid {
        height: 36px;
        width: 85%;
        font-size: 1.2rem;
    }
    .imgSmall {
        height: 60px;
    }
    #txtBid {
        height: 2.6rem;
        font-size: 1.2rem;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    html{
        font-size: 16px;
    }
    #btnReport, #btnFavorite, #btnComment {
        height: 60px;
        border-radius: 30px;
    }
    .moneyRow {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .titleMoney {
        font-size: 1.25rem;
    }
    .goldMoney {
        font-size: 1.8rem;
    }
    #btnBuy, #btnBid {
        height: 38px;
        width: 85%;
        font-size: 1.2rem;
    }
    .imgSmall {
        height: 60px;
    }
    #txtBid {
        height: 3.2rem;
        font-size: 1.4rem;
    }
}
@media (max-width: 575px){
    html{
        font-size: 11px;
    }
    #btnReport, #btnFavorite, #btnComment {
        height: 40px;
        border-radius: 20px;
    }
    .moneyRow {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .titleMoney {
        font-size: 1.8rem;
    }
    .goldMoney {
        font-size: 2rem;
    }
    #btnBuy, #btnBid {
        height: 38px;
        width: 85%;
        font-size: 1.6rem;
    }
    .imgSmall {
        height: 60px;
    }
    #txtBid {
        height: 3.8rem;
        font-size: 1.8rem;
    }
}
body {
    font-family: 'Noto Sans TC Medium','Noto Sans CJK TC Midium','Noto Sans TC', 'Noto Sans CJK TC', '微軟正黑體';
    
}
#divMainContent{
    margin-left: auto;
    margin-right: auto;
}
#divSort{
    color: #6b6b6b;
    font-size: 1.2rem;
}

#divItemName{
    font-size: 1.9rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#divButtons {
    margin-top: 10px;
    margin-bottom: 10px;
}


#divPhoto{
    text-align: center;

}
#imgShow{
    max-width: 90%;
    height: 40rem;
}

#divSmallList{
    margin-top: 10px;
    margin-bottom: 10px;
}

#divTime{
    border: 2px solid #ced3d8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#divClock{
    width: 40px;
    padding: 5px;
    margin-right: 3px;
    text-align:center;

}
#imgClock{
    width: 20px;
}
#divStamp {
    padding: 10px 12px 10px 12px;
    border-left: 2px solid #ced3d8;
    border-right: 2px solid #ced3d8;
    flex: auto;
    text-align: center;
    color: #ced3d8;
}
#divCalender {
    width: 100px;
    color: #ab8f4e;
    text-align: center;
}

#divMoney{
    margin-top: 10px;
    background-color: #ebebeb;
    border-radius: 10px;
}
.moneyRow{
    align-items: center;
}
.rowBuy{
    border-bottom: 3px solid #ffffff;

}

#divMoneyStep {
    padding-top: 5px;
    align-items: center;
    height: 60px;
    padding-bottom: 5px;
 }
.titleMoney {
    text-align: left;
    font-weight: bold;
    color: #1f3444;
}
.goldMoney {
    color: #ab8f4e;
}

#divBid {
    padding-top: 5px;
    height: 80px;
    align-items: center;
    padding-bottom: 10px;
    
}
#titleTextBox{
    text-align: right;
}
#txtBid{
    width: 90%;
    border: 1px solid #6b6b6b;
}
#btnBuy, #btnBid{
    background-color: #1f3444;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}
#divHistory{
    margin-top: 20px;
}

.historyRecord{
    margin-top: 5px;
    margin-bottom: 5px;
}
.historyAccount{

}

.historyTime{

}

.historyMoney{

}

.titleTopic{
    background-color: #1f3444;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#divDescription, #divComment, #divHistory {
    border-top: 2px solid #ced3d8;
    margin-top: 20px;
}

#divDescriptContent{
    margin-top: 16px;
    margin-bottom: 20px;
}

.commentRecord{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;

}
.commentAccount {

}
.commentContent{

}

#txtComment{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #ced3d8;
}
#btnCommentSend{
    background-color: #1f3444;
    color: #ffffff;
    border-radius: 4px;
    width: 100%;
    border: none;
    padding: 5px;
}

.imgSmall{
    margin-right: 10px;
}

.imageChange{
    animation-name: brightToNormal;
    animation-duration: 0.5s;
}
@keyframes brightToNormal{
    from{
        /*filter:brightness(3);*/
        filter: blur(3px);
    }
    to {
        /*filter:brightness(1);*/
        filter: blur(0);
    }
}

#btnReport, #btnFavorite, #btnComment {
    font-size: 1.2rem;
    color: #1f3444;
    font-weight: bold;
    width: 100%;
    border: 2px solid #ced3d8;
}
#btnReport,#btnComment{
    background-color: #ffffff;
}

.following {
    background-color: #ced3d8;
}
.notFollowing{
    background-color: #ffffff;
}
