/*  淡灰 ced3d8   ebebeb    
    深灰 6b6b6b   
    黑 333333    
    藏青 1f3444    
    金  ab8f4e    
    白ffffff */
@media (max-width: 575px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
}

#divResult{
    width: 100%;
}
#divResult>div{
    display: flex;
}
#divResult>div>div{
    font-size: 1.6rem;
}
.divTitle {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    font-family: "Noto Sans CJK TC";
    font-weight: bold;
    color: #1f3344;
}
#tableHistory{
    background-color:#ccc;
    color:black;
    width: 100%;
    font-size: 1.6rem;
}

.bidAcc{
    /*width: 20%;*/
}
.bidMoney{
    /*width: 30%*/
}
.bidTime{
    /*width: auto;*/
}

td {
    justify-content: space-between;
    width: 300px;
    text-align:center;
}

img{
    width:120px;
    margin:20px 10px; 
}

.divContent{
    margin:10px 0px;
    font-family:"Noto Sans CJK TC";
    font-weight:normal;
    color:#1f3344;
}
