/*  淡灰 ced3d8   ebebeb    
    深灰 6b6b6b   
    黑 333333    
    藏青 1f3444    
    金  ab8f4e    
    白ffffff */
@media (max-width: 575px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
}


h2 {
    font-size: 24px;
    background-color: #1f3344;
    color: aliceblue;
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

body {
    width: 80%;
    margin: auto;
}

.captin {
    border-radius: 50%;
    width: 110%;
}

.name {
    text-align: center;
    font-size: 12px;
    font-family: 'Noto Sans TC', sans-serif;
}

.cards {
    height: 150px;
}

.websiteprofolio {
    margin-top: 20px;
    font-family: 'Noto Sans TC', sans-serif;
}

.membersphoto {
    height: 200px;
    background-color: rgb(226, 228, 228);
}

.mainphoto {
    width: 90%;
    margin-left: 5px;
    margin-top: 5px;
}

.buttom {
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    border: 1.5px solid rgb(229, 225, 225);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.h5 {
    margin-top: 25px;
    font-family: 'Noto Sans TC', sans-serif;
}

.description {
    font-family: 'Noto Sans TC', sans-serif;
}