/*  淡灰 ced3d8   ebebeb    
    深灰 6b6b6b   
    黑 333333    
    藏青 1f3444    
    金  ab8f4e    
    白ffffff */
@media (max-width: 575px) {
    html {
        font-size: 10px;
    }
    #carouselArea {
        height: 20rem;
    }
    #divLeft, #divRight {
        font-size: 2rem;
    }
    #divLeft, #divRight {
        top: 9rem;
    }
    #divLeft{
        left: 1.2rem;
    }
    #divRight{
        right: 1.2rem;
    }
    #divCurrent {
        width: 30%;
        left: 35%;
        bottom: 5%;
        font-size: 0.2rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 11px;
    }
    #carouselArea {
        height: 24rem;
    }
    #divLeft, #divRight {
        font-size: 2rem;
    }
    #divLeft, #divRight {
        top: 11rem;
    }

    #divLeft {
        left: 1.2rem;
    }

    #divRight {
        right: 1.2rem;
    }
    #divCurrent {
        width: 28%;
        left: 36%;
        bottom: 5%;
        font-size: 0.2rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 12px;
    }
    #carouselArea {
        height: 28rem;
    }
    #divLeft, #divRight {
        font-size: 2.4rem;
    }
    #divLeft, #divRight {
        top: 12.6rem;
    }
    #divLeft {
        left: 1.2rem;
    }
    #divRight {
        right: 1.2rem;
    }
    #divCurrent {
        width: 22%;
        left: 39%;
        bottom: 5%;
        font-size: 0.2rem;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    html {
        font-size: 13px;
    }
    #carouselArea {
        height: 32rem;
    }
    #divLeft, #divRight {
        font-size: 3rem;
    }
    #divLeft, #divRight {
        top: 14.5rem;
    }

    #divLeft {
        left: 1.6rem;
    }

    #divRight {
        right: 1.6rem;
    }
    #divCurrent {
        width: 16%;
        left: 42%;
        bottom: 4%;
        font-size: 0.2rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
    #carouselArea {
        height: 40rem;
    }
    #divLeft, #divRight {
        font-size: 4rem;
    }
    #divLeft, #divRight {
        top: 18rem;
    }

    #divLeft {
        left: 2rem;
    }

    #divRight {
        right: 2rem;
    }
    #divCurrent {
        width: 14%;
        left: 43%;
        bottom: 4%;
        font-size: 0.3rem;
    }
}

#carouselArea {
    position: relative;
    width: 100%;
    background-color: #1f3444;
}

[id^="imgAd"]{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#divLeft, #divRight {
    position: absolute;
    color: #ced3d8;
}
#divCurrent{
    position: absolute;
    text-align: center;
    color: #ffffff;
}
#divCurrent>i{
    margin: 0 0.6rem;
}
