/*  淡灰 ced3d8   ebebeb    
    深灰 6b6b6b   
    黑 333333    
    藏青 1f3444    
    金  ab8f4e
    白ffffff */
@media (max-width: 575px) {
    html {
        font-size: 10px;
    }
    #carouselArea {
        height: 20rem;
    }
    #divLeft, #divRight {
        font-size: 2rem;
    }
    #divLeft, #divRight {
        top: 9rem;
    }
    #divLeft{
        left: 1.2rem;
    }
    #divRight{
        right: 1.2rem;
    }
    #divCurrent {
        width: 30%;
        left: 35%;
        bottom: 5%;
        font-size: 0.2rem;
    }
    .divLabel > div {
        width: 25%;
    }
    .newest {
        font-size: 1.4rem;
    }

    .findall {
        font-size: 1.4rem;
    }
    .imgWrap {
        height: 30rem;
        margin-top: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 11px;
    }
    #carouselArea {
        height: 24rem;
    }
    #divLeft, #divRight {
        font-size: 2rem;
    }
    #divLeft, #divRight {
        top: 11rem;
    }

    #divLeft {
        left: 1.2rem;
    }

    #divRight {
        right: 1.2rem;
    }
    #divCurrent {
        width: 28%;
        left: 36%;
        bottom: 5%;
        font-size: 0.2rem;
    }
    .divLabel > div {
        width: 25%;
    }
    .newest {
        font-size: 1.4rem;
    }

    .findall {
        font-size: 1.4rem;
    }
    .imgWrap {
        height: 28rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 12px;
    }
    #carouselArea {
        height: 28rem;
    }
    #divLeft, #divRight {
        font-size: 2.4rem;
    }
    #divLeft, #divRight {
        top: 12.6rem;
    }
    #divLeft {
        left: 1.2rem;
    }
    #divRight {
        right: 1.2rem;
    }
    #divCurrent {
        width: 22%;
        left: 39%;
        bottom: 5%;
        font-size: 0.2rem;
    }
    .divLabel > div {
        width: 22%;
    }
    .newest {
        font-size: 1.4rem;
    }
    .findall {
        font-size: 1.4rem;
    }
    .imgWrap {
        height: 20rem;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    html {
        font-size: 13px;
    }
    #carouselArea {
        height: 32rem;
    }
    #divLeft, #divRight {
        font-size: 3rem;
    }
    #divLeft, #divRight {
        top: 14.5rem;
    }

    #divLeft {
        left: 1.6rem;
    }

    #divRight {
        right: 1.6rem;
    }
    #divCurrent {
        width: 16%;
        left: 42%;
        bottom: 4%;
        font-size: 0.2rem;
    }
    .divLabel > div {
        width: 20%;
    }
    .newest {
        font-size: 1.8rem;
    }

    .findall {
        font-size: 1.4rem;
    }
    .imgWrap {
        height: 20rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
    #carouselArea {
        height: 40rem;
    }
    #divLeft, #divRight {
        font-size: 4rem;
    }
    #divLeft, #divRight {
        top: 18rem;
    }

    #divLeft {
        left: 2rem;
    }

    #divRight {
        right: 2rem;
    }
    #divCurrent {
        width: 14%;
        left: 43%;
        bottom: 4%;
        font-size: 0.3rem;
    }
    .divLabel > div {
        width: 20%;
    }
    .newest {
        font-size: 1.8rem;
    }

    .findall {
        font-size: 1.4rem;
    }
    .imgWrap {
        height: 20rem;
    }
}

#carouselArea {
    position: relative;
    width: 100%;
    background-color: #1f3444;
}

[id^="imgAd"]{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#divLeft, #divRight {
    position: absolute;
}
#arrowLinkLeft, #arrowLinkRight {
    text-decoration: none;
    color: #ced3d8;
}
#divCurrent {
    position: absolute;
    text-align: center;
    color: #ffffff;
}
#divCurrent>a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 0.6rem;
}
.cardList {
    margin-top: 1rem;
    background-color: #ced3d8;
    margin-bottom: 1rem;
}

.divLabel{
    padding-top: 3rem;
    display: flex;
    justify-content:space-between;
}
.newest {
    text-align: right;
    font-weight: 700;
    color: #333333;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ab8f4e;
    margin-bottom: 5rem;
}
.findall{
    text-align: left;
    color: #6b6b6b;
}
.findall> a{
    text-decoration: none;
    color: #6b6b6b;
}
#auctionRow, #exchangeRow{
    margin:1rem 2rem;
}
.cardBorder {
    border-radius: 1rem;
    box-shadow: gray 0px 0px 5px;
    border: 1px solid #ffffff;
    padding: 0.6rem;
    background-color: #ffffff;
    margin-bottom: 1.2rem;
}
.cardBorder > a {
    text-decoration: none;
    color: #000000;
}
.cardSelect {
    box-shadow: black 0px 0px 10px;
    /*background-color: #ebebeb;*/
}
.cardImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.imgWrap {
    width: 100%;
}
.cardBody {
    padding: 0px 1rem;
    margin-top: 1.5rem;
}

.pName {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pMoney {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ab8f4e;
}
.pCount {
}

.pTime {
    font-size: 1.1rem;
}