<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Admin _ @ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/cssReset.css">
    <link rel="stylesheet" href="~/Content/cssNormalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- GoogleFont Noto Sans  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/AdminCss/cssAdminLayout.css" />
    @RenderSection("styles", required: false)
</head>

<body>

    <nav>
        <div class="container-fluid">
            <div class="row">

                <div class="nav-left">
                    <a class="tablink" href="/Admin/PsnManage">人員管理</a>
                    <a class="tablink" href="/Admin/AuctManage">商品管理</a>
                    <a class="tablink" href="/Admin/AdvManage">廣告管理</a>
                    <a class="tablink" href="/Admin/DataAnalyze">資料數據</a>
                </div>

                <div class="nav-middle">
                    <h1 class="nav-title">
                        <img class="imgsize" src="~/images/Admin/logo4.png" height="70">
                    </h1>
                </div>

                <div class="nav-right">
                    <a class="tablink" href="/">使用者</a>
                    <a class="tablink" href="/Admin">管理員</a>
                    <a class="tablink" href="/Member/Login">登出</a>
                </div>

            </div>
        </div>
    </nav>

    <content>
        @RenderBody()
    </content>

    <br>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row ">

                <div class="nav-left">
                    <a class="text-muted tablink" href="/">Back to User</a>
                    <a class="text-muted tablink" href="/Admin">Back to Admin</a>

                </div>

                <div class="nav-middle">
                    <a class="text-muted tablink" href="/">Instructions</a>
                    <a class="text-muted tablink" href="/Home/About">About Us</a>
                    <a class="text-muted tablink" href="/">Contact Us</a>

                </div>

                <div class="nav-right">
                    <i class="fa-regular fa-envelope text-muted"></i>
                    <i class="fa-brands fa-instagram text-muted"></i>
                    <i class="fa-brands fa-facebook text-muted"></i>
                    <i class="fa-brands fa-youtube text-muted"></i>
                    <i class="fa-brands fa-telegram text-muted"></i>
                </div>

            </div>
            <div>
                <span class=" text-muted tablink row-div"> &copy; 2022 Cards  </span>
            </div>
        </div>
        <div class="dark-blue">.</div>

    </footer>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.0-alpha/Chart.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="~/Scripts/Colors.js"></script>
    <script src="~/Scripts/Utility.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>