<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin _ @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/AdminCss/cssAdminLayout.css" />
    <!-- <script src="~/Scripts/modernizr-2.8.3.js"></script> -->
</head>

<body>

    <nav>
        <div id="navdiv">
            <button class="tablink" onclick="location.href='/Home/' ">使用者首頁</button>
            <button class="tablink" onclick="location.href='/Admin/' ">管理員首頁</button>
            <button class="tablink" onclick="location.href='/Admin/PsnManage' ">人員管理</button>
            <button class="tablink" onclick="location.href='/Admin/' ">商品管理</button>
            <button class="tablink" onclick="location.href='/Admin/' ">廣告管理</button>
            <button class="tablink" onclick="location.href='/Admin/' ">數據分析</button>
            <button class="tablink" onclick="location.href='/Home/' ">登出</button>
        </div>
    </nav>

    <content>
        @RenderBody()
    </content>


    @*<footer>
            <p>&copy; @DateTime.Now.Year - Admin Footer</p>
        </footer>*@

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>