<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Admin _ @ViewBag.Title</title>
    <!-- CSSReset -->
    <link rel="stylesheet" href="~/Content/cssReset.css">
    <!-- Bootstrap -->
    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/AdminCss/cssAdminLayout.css" />
</head>

<body>

    <nav>
        <div class="container-fluid">
            <div class="row">

                <div class="nav-left">
                    <a class="tablink" href="/Admin/PsnManage">Members</a>
                    <a class="tablink" href="/Admin/">Products</a>
                    <a class="tablink" href="/Admin/AdManage">Advert</a>
                    <a class="tablink" href="/Admin/">Analysis</a>
                </div>

                <div class="nav-middle">
                    <h1 class="nav-title">Cards </h1>
                </div>

                <div class="nav-right">
                    <a class="tablink" href="/">User</a>
                    <a class="tablink" href="/Admin">Admin</a>
                    <a class="tablink" href="/">LogOut</a>
                </div>

            </div>
        </div>
     </nav>

    <content>
        @RenderBody()
    </content>


    @*<footer>
            <p>&copy; @DateTime.Now.Year - Admin Footer</p>
        </footer>*@

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>