body {
    margin:0;
    padding:0;
}

header {
    position: absolute;
    height: 50px;
    left: 0;
    top: 0;
    width: 100%;
    background: #1f3444;
}


nav {
    position: absolute;
    height: 100px;
    left: 0;
    top: 50px;
    width: 100%;
    background: #1f3444;
}

content {
    position: absolute;
    top: 150px;
    bottom: 100px;
    left: 0;
    width: 100%;
    background: #eee;
}

#box1 {
    height: 50%;
    width: 30%;
    float: left;
    background: red;
}

footer {
    position: absolute;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #1f3444;
}