body {
    font-family: 'Noto Sans CJK TC Medium',微軟正黑體;
    background-color: #f6f6f6;
}

#webIcon{
    width: 100px;
    margin-right: 10px;
}

#header{
    margin-top: 8px;
    padding-left: 20px;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ced3d8;
}
#greeting{
    text-align: right;
    padding-right: 50px;
    
}
#mainBox{
    margin-top: 5px;
}
#basicInfo,#sellDetail,#transFee{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #ffffff;
    border-radius: 10px 10px;
    border: 2px solid lightgray;
    padding: 40px;
    box-shadow: 0px 0px 6px 2px lightgray;
}
.divTitle{
    font-size: 24px;
    color: #333333;
}

.contentHead{
    text-align: right;
}
.divContent{
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 10px;
    font-size: 22px;
    color: #6b6b6b;
}
#divImgSelect{
    margin-bottom: 70px;
}
#divItemName,#divItemDescription,#divMoneyStart,#divMoneyStep{
    margin-bottom: 40px;
}
div.content{
    text-align: center;
}
.imgSelect{
    width: 100%;
    margin-bottom: 18px;
}
.content>input{
    width: 100%;
    height: 40px;
    border: 2px solid #ced3d8;
    border-radius: 6px;
}
#ItemDescription{
    width: 100%;
    height: 250px;
    border: 2px solid #ced3d8;
    border-radius: 6px;
}
#dateTimeContainer{
    display: flex;
    justify-content: center;
}
#endTimeDate,#endTimeTime{
    flex:none;
    width:55%;
}
#EndTimeDate,#EndTimeTime{
    width: 80%;
}
#divTrans{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #ced3d8;
    border-radius: 5px;
}
[id^="txt"]{
    width: 100%;
}
#divTrans>div.row{
    padding: 10px;
}
label[for^="chk"]{
    color: #333333;
}
[id^="btn"]{
    width: 240px;
    height: 40px;
    margin-top: 20px;
    font-size: 22px;
    border: none;
    border-radius: 3px;
}
#buttons{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: right;
    
}
#btnCancel{
    margin-right: 20px;
    color: #333333;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 2px lightgray;
}
#btnPost{
    margin-right: 150px;
    color: #ffffff;
    background-color: #1f3444;
}